body {
	text-align: center;
	font-family: cursive;
	background: linear-gradient(#0073e6, #E1D9D1);
	color: white;
}

#bff-img {
	width: 150px;
	border: 4px solid white;
	border-radius: 50%;
}

.gift-img {
	border: 6px solid white;
	width: 400px;
	height: 400px;
	margin: 20px auto 40px;
	background-image: url("images/wrap-gift.jpg");
	background-size: cover;
	border-radius: 4px;
	box-shadow: 0px 0px 2px black;
}

#bday-age {
	background: white;
	color: #0073e6;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 20px 0 10px;
	text-shadow: 0px 0px 0px;
}

#bday-date {
	background: white;
	color: #0073e6;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 0 0 40px;
	text-shadow: 0px 0px 0px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gift-hint {
	margin-top: 0;
	margin-bottom: 35px;
}

.gift-title {
	margin-bottom: 7px;
}

#gift-img-happy:hover {
	background-image: url("images/happy.gif");
}

#gift-img-muah:hover {
	background-image: url("images/muah.gif");
}

#gift-img-bff:hover {
	background-image: url("images/bff.gif");
}

#gift-img-badass:hover {
	background-image: url("images/lee.gif");
}

#gift-img-cheers:hover {
	background-image: url("images/cheers.gif");
}

#gift-img-cheers {
	height: 200px;
}

h1, h2, h3, h4, p {
	text-shadow: 0px 0px 2px black;
}

a {
	color: white;
}

#footer {
	width: 400px;
	margin: 40px auto 20px;
	font-style: italic;
}
